In [ ]:
import pandas as pd
df = pd.read_csv('/content/AIQ Selection List R-2.csv')
df_filtered = df[~df['quota'].isin(['Not Available', 'Choice Not Available.'])]

# Display the filtered DataFrame
print(df_filtered)
df_filtered.to_csv('closing Rank for R-2.csv', index=False)

      Unnamed: 0.1  Unnamed: 0  sr_no      air  neet_roll_no  cet_form_no  \
0                1           1      1   117177    3134010077    236002641
1                2           2      2   118651    3921010350    236002586
2                3           3      3   119800    3110040554    236001758
3                4           4      4   126853    3104040456    236003543
4                5           5      5   129587    3117090401    236001105
...            ...         ...    ...      ...           ...          ...
1359          1360        3327   3327  1215394    3102060398    236002848
1360          1361        3328   3328  1215813    3104070039    236002741
1361          1362        3329   3329  1215967    3104260035    236003061
1362          1363        3330   3330  1216181    3106030252    236001866
1363          1364        3334   3334  1220983    3109130209    236001633

     first_name middle_name last_name gender category quota  \
0        NIMISH     SHIRISH     ALONE      M      OBC  AIQ
1       SUSHILA         NaN     SIRVI      F      OBC  AIQ
2        BATHIA       RASHI    NARESH      F      NaN   AIQ
3        MALHAR      JAYESH   GANGALE      M      NaN   AIQ
4         MISAL  PRATHAMESH  JALINDAR      M      NaN   AIQ
...         ...         ...       ...    ...      ...   ...
1359     KAMBLE      SNEHAL    KAILAS      F       SC  AIQ
1360    DABHADE     PRAJWAL   PRAKASH      M       SC  AIQ
1361    PADGHAN     PRADNYA    SURESH      F       SC  AIQ
1362     SHELKE      SAKSHI      ARUN      F      OBC  AIQ
1363    WAYBASE       ROHIT   RAMHARI      M      OBC  AIQ

                         college_quota_mrge
0         3110:PDEA AM AKURDI PUNE(No Pref)
1         3110:PDEA AM AKURDI PUNE(No Pref)
2                        4101:CMP HC MUMBAI
3              3161:SMBT AC IGATPURI, NASIK
4            3111:AM HADAPSAR PUNE(No Pref)
...                                     ...
1359            4356:SSVP HMC HATTA HINGOLI
1360           4158:RJ SWAMI HMC AHMEDNAGAR
1361                 4144:PSPM MHMC SOLAPUR
1362             4227:PHC KHAMGAON(No Pref)
1363  4115:SET'S SAWKAR HMC SATARA(No Pref)

[1364 rows x 13 columns]

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/AACCC_R-3_Cleaned_file.csv')

# Group by college, category, and gender to find max AIR
max_air_df = df.loc[df.groupby(['Alloted Category','Allotted Quota','Allotted Institute'])['Rank'].idxmax()]

# Rename columns to indicate max
max_air_df = max_air_df.rename(columns={'Rank': 'Closing Rank'})

# Select relevant columns for the final output
columns_to_keep = [
   'Alloted Category','Allotted Quota','Allotted Institute','Course','Closing Rank'
]

# Display the result
final_df = max_air_df[columns_to_keep]

# Convert to CSV
final_df.to_csv('AACCC closing Rank Round-3.csv', index=False)
print(final_df)

    Alloted Category                                 Allotted Quota  \
350              EWS                    All India Quota Governm ent
108              EWS                    All India Quota Governm ent
173              EWS                    All India Quota Governm ent
543              EWS                    All India Quota Governm ent
467              EWS                    All India Quota Governm ent
..               ...                                            ...
885               ST  Central Universit es / National Institutio ns
734               ST  Central Universit es / National Institutio ns
593               ST  Central Universit es / National Institutio ns
937               ST  Central Universit es / National Institutio ns
826               ST  Central Universit es / National Institutio ns

                                    Allotted Institute  \
350  Anantha Laxmi Govt. Ayurved College, Warangal,...
108  Ayurvedic and Unani Tibbia College- Ayurveda, ...
173  Baba Khetanath Govt.\nAyurvedic College and Ho...
543  Biju Pattanaik Homeopathic Medical College, Ga...
467  Dr. B.R Sur Homoeopathic Medical College and H...
..                                                 ...
885  NORTH EASTERN INSTITUTE OF AYURVEDA AND HOMEOP...
734  National Institute of Ayurveda (Deemed Univers...
593  National Institute of Ayurveda, Deemed to be U...
937  National Institute of Siddha, Chennai, Tamil N...
826  North Eastern Institute of Ayurveda and Folk M...

                                            Course  Closing Rank
350     Bachelor of Ayurvedic Medicine and Surgery         91580
108         Bachelor of Unani Medicine and Surgery         53533
173     Bachelor of Ayurvedic Medicine and Surgery         67384
543  Bachelor of Homoeopathic Medicine and Surgery        154276
467  Bachelor of Homoeopathic Medicine and Surgery        119185
..                                             ...           ...
885  Bachelor of Homoeopathic Medicine and Surgery        365137
734     Bachelor of Ayurvedic Medicine and Surgery        233356
593     Bachelor of Ayurvedic Medicine and Surgery        176856
937        Bachelor of Siddha Medicine and Surgery        481546
826     Bachelor of Ayurvedic Medicine and Surgery        304657

[476 rows x 5 columns]

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/Allied stray vacancy R-2.csv')

# Group by college, category, and gender to find max AIR
# Use 'category_quota' (with an underscore) to match the actual column name
max_air_df = df.loc[df.groupby(['code college','category quota'])['air'].idxmax()]

# Rename columns to indicate max
max_air_df = max_air_df.rename(columns={'air': 'Closing_air'})

# Select relevant columns for the final output
columns_to_keep = [
   'category quota','quota','code college','Closing_air'
]

# Display the result
final_df = max_air_df[columns_to_keep]

# Convert to CSV
final_df.to_csv('Allied stray vacancy Round 2 closing air.csv', index=False)
print(final_df)

        category quota         quota            code college  Closing_air
20                OPEN          OPEN     6101:LTMC PT MUMBAI       189007
78              SC SC            SC      6101:LTMC PT MUMBAI       430688
890     SEBC SEBC (W)      SEBC (W)      6101:LTMC PT MUMBAI      1123396
228             ST ST            ST      6101:LTMC PT MUMBAI       611548
900           VJA VJA           VJA      6101:LTMC PT MUMBAI      1132477
...                ...           ...                     ...          ...
1542          EWS EWS           EWS   9101:AIIMR BPO MUMBAI       1889317
937   NTB NTBOPEN (W)   NTBOPEN (W)   9101:AIIMR BPO MUMBAI       1181279
359           OBC OBC           OBC   9101:AIIMR BPO MUMBAI        725612
57                OPEN          OPEN  9101:AIIMR BPO MUMBAI        363330
1009            ST ST            ST   9101:AIIMR BPO MUMBAI       1273617

[1370 rows x 4 columns]

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/BPTH  Round -3 extracted file with course.csv')

# Group by college, category, and gender to find max AIR
# Use 'category_quota' (with an underscore) to match the actual column name
max_air_df = df.loc[df.groupby(['code_college','quota','Course'])['air'].idxmax()]

# Rename columns to indicate max
max_air_df = max_air_df.rename(columns={'air': 'Closing_air'})

# Select relevant columns for the final output
columns_to_keep = [
   'quota','code_college','Course','Closing_air'
]

# Display the result
final_df = max_air_df[columns_to_keep]

# Convert to CSV
final_df.to_csv('BPTH closing air.csv', index=False)
print(final_df)

         quota           code_college Course  Closing_air
20        OBC     6101:LTMC PT MUMBAI   BPTH       230393
7         OPEN    6101:LTMC PT MUMBAI   BPTH       142190
9    OPEN (W)     6101:LTMC PT MUMBAI   BPTH       143976
39         SC     6101:LTMC PT MUMBAI   BPTH       334440
63    SEBC(W)     6101:LTMC PT MUMBAI   BPTH       431752
..         ...                    ...    ...          ...
703    NTB(W)   9101:AIIMR BPO MUMBAI   BP&O      1181279
296       OBC   9101:AIIMR BPO MUMBAI   BP&O       725612
46        OPEN  9101:AIIMR BPO MUMBAI   BP&O       363330
144  OPEN (W)   9101:AIIMR BPO MUMBAI   BP&O       555469
764        ST   9101:AIIMR BPO MUMBAI   BP&O      1273617

[775 rows x 4 columns]

In [ ]:
import pandas as pd

# Load your CSV file into a pandas DataFrame
df = pd.read_csv('/content/MH ayush R-3 extracted file.csv')

# Create a new column 'course' based on the first digit of 'code_college'
df['course'] = df['code_college'].astype(str).str[0].map({
    '1': 'MBBS',
    '2': 'BDS'
})

# Save the updated DataFrame back to a CSV file
df.to_csv('ayush R-3 with course.csv', index=False)

print(df)

       Unnamed: 0    sr_no        air  neet_roll_no  cet_form_no  \
0             1.0      1.0    40478.0  3.107010e+09  245003802.0
1             2.0      2.0    44875.0  3.109250e+09  245010178.0
2             3.0      3.0    46549.0  3.109360e+09  245007256.0
3             4.0      4.0    52729.0  3.103060e+09  245011598.0
4             5.0      5.0    52894.0  3.123080e+09  245040032.0
...           ...      ...        ...           ...          ...
12145     12146.0  23371.0  1389261.0  3.115050e+09  245007178.0
12146     12147.0  23374.0  1389325.0  3.107090e+09  245045848.0
12147     12148.0  23379.0  1390055.0  3.112380e+09  245044869.0
12148     12149.0  23392.0  1393839.0  3.111070e+09  245002074.0
12149     12150.0  23396.0  1394736.0  3.108011e+09  245005153.0

         first_name middle_name              last_name gender category  \
0             MANSI     MANOHAR                  PATIL      F      OBC
1           PANCHAL      GANRAJ                MAHADEV      M      OBC
2            RUPALI     MANOHAR               GHONGADE      F      OBC
3          SAMIKSHA     JAGDISH                BHOPALE      F     SOBC
4             PARAS         NaN                 KAWALE      M      OBC
...             ...         ...                    ...    ...      ...
12145  DNYANESHWARI      TANAJI                KOLEKAR      F      NTC
12146          MORE       YUKTA             SHASHIKANT      F      NTC
12147        SHAIKH         NaN  NAZNEEN NOOR MAHAMMAD      F      OBC
12148     VAISHNAVI      DHIRAJ                  YADAV      F      NTB
12149       GAIKWAD       PARTH                MANSING      M      OBC

                 quota        category quota                 code_college  \
0      OPEN (W) (EMD)    OBC OPEN (W) (EMD)            3101:RAP AC MUMBAI
1                OPEN              OBC OPEN            3101:RAP AC MUMBAI
2      OPEN (W) (EMD)    OBC OPEN (W) (EMD)            3101:RAP AC MUMBAI
3      OPEN (W) (EMD)   SOBC OPEN (W) (EMD)               3232:GAC NAGPUR
4          OPEN (EMD)        OBC OPEN (EMD)            3101:RAP AC MUMBAI
...                ...                   ...                          ...
12145            I.Q.              NTC I.Q.              4337:SKHMC BEED
12146            I.Q.              NTC I.Q.    4145:CHAMUNDA HMC JALGAON
12147         HA I.Q.           OBC HA I.Q.   4356:SSVP HMC HATTA HINGOLI
12148            I.Q.              NTB I.Q.             4228:GHMC GONDIA
12149            I.Q.              OBC I.Q.           4112:SJPES KOLHAPUR

      Course course
0       BAMS    NaN
1       BAMS    NaN
2       BAMS    NaN
3       BAMS    NaN
4       BAMS    NaN
...      ...    ...
12145   BHMS    NaN
12146   BHMS    NaN
12147   BHMS    NaN
12148   BHMS    NaN
12149   BHMS    NaN

[12150 rows x 15 columns]

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv("/content/AACCC R-3 Extracted File .csv")

# Remove rows where 'Allotted_quota' contains '-'
df_cleaned = df[df['Allotted Quota'] != '-']

# Save the cleaned DataFrame back to a CSV file
df_cleaned.to_csv("AACCC_R-3_Cleaned_file.csv", index=False)

print("Rows with '-' in 'Allotted_quota' column have been removed.")

Rows with '-' in 'Allotted_quota' column have been removed.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/ayush stray vacancy Round 3 closing air.csv')

def assign_course(code_college):
    if str(code_college).startswith('3'):
        return 'BAMS'
    elif str(code_college).startswith('4'):
        return 'BHMS'
    elif str(code_college).startswith('5'):
        return 'BUMS'


df['Course'] = df['code_college'].apply(assign_course)


df.to_csv('Ayush stray vacancy R-2 file.csv', index=False)

print("Course column added based on code_college values.")

Course column added based on code_college values.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Allied stray vacancy Round 2 closing air.csv')

def assign_course(code_college):
    if str(code_college).startswith('6'):
        return 'BPTH'
    elif str(code_college).startswith('8'):
        return 'BASLP'
    elif str(code_college).startswith('7'):
        return 'BOTH'
    elif str(code_college).startswith('9'):
        return 'BP&O'


df['Course'] = df['code college'].apply(assign_course)


df.to_csv('BPTH stray r-2 extracted file with course.csv', index=False)

print("Course column added based on code_college values.")

Course column added based on code_college values.

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('/content/updated_file.csv')

# Replace 'your_column_name' with the actual column name
unique_values = df['code_college'].nunique()

print(f'The number of unique values in the column is: {unique_values}')

The number of unique values in the column is: 161

In [ ]:
import pandas as pd

# Load your existing CSV file
csv_file = 'BDS.csv'  # Replace with the actual filename
df_existing = pd.read_csv(csv_file)

# Data for the district and college type
data = {
    'code_college': [
        '2101:GDC MUMBAI', '2102:Nair DC MUMBAI', '2104:V Patil DC SANGLI', '2105:MGVM DC NASIK',
        '2115:YMT DC NEW , MUMBAI', '2116:D Y PATIL DC LOHGAON, PUNE', '2117:SMBT DC SANGAMNER',
        '2118:PDU DC SOLAPUR', '2119:MAR DC PUNE', '2120:KORE DC KOLHAPUR', '2121:ACPM DC DHULE',
        '2122:TERNA DC NEW , MUMBAI', '2123:MGM DC NEW , MUMBAI', '2124:SINHAGAD DC PUNE',
        '2127:YOGITA DC KHED, RATNAGIRI', '2134:YCM DC AHMEDNAGAR', '2135:SMBT DC NASIK',
        '2207:GDC NAGPUR', '2211:VYWS DC AMRAVATI', '2212:VSPM DC NAGPUR', '2229:KAMBE DC AKOLA',
        '2230:SDKS DC NAGPUR', '2313:GDC CH. SAMBHAJINAGAR', '2314:CSMSS DC CH. SAMBHAJINAGAR',
        '2325:MIDSR DC LATUR', '2326:SD DC PARBHANI', '2331:ADITYA DC BEED', '2332:HEDGEWAR DC HINGOLI',
        '2333:NANDED RURAL DC'
    ],
    'District': [
        'MUMBAI', 'MUMBAI', 'SANGLI', 'NASHIK', 'MUMBAI', 'PUNE', 'SANGAMNER', 'SOLAPUR', 'PUNE', 'KOLHAPUR',
        'DHULE', 'MUMBAI', 'MUMBAI', 'PUNE', 'RATNAGIRI', 'AHMEDNAGAR', 'NASHIK', 'NAGPUR', 'AMRAVATI', 'NAGPUR',
        'AKOLA', 'NAGPUR', 'CH. SAMBHAJINAGAR', 'CH. SAMBHAJINAGAR', 'LATUR', 'PARBHANI', 'BEED', 'HINGOLI',
        'NANDED'
    ],
    'College Type': [
        'Govt', 'Corp', 'Pvt', 'Pvt', 'Pvt', 'Pvt', 'Pvt', 'Pvt', 'Pvt/Minority', 'Pvt', 'Pvt', 'Pvt', 'Pvt',
        'Pvt', 'Pvt', 'Pvt', 'Pvt', 'Govt', 'Pvt', 'Pvt', 'Pvt', 'Pvt', 'Govt', 'Pvt', 'Pvt', 'Pvt', 'Pvt',
        'Pvt', 'Pvt'
    ]
}

# Create a DataFrame from the new data
df_new = pd.DataFrame(data)

# Merge the new data with the existing DataFrame based on the 'code_college' column
df_updated = pd.merge(df_existing, df_new, on='code_college', how='left')

# Save the updated DataFrame back to the CSV file
df_updated.to_csv('updated_file.csv', index=False)

print("CSV file updated successfully!")

CSV file updated successfully!

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/MCC All India selction List R-2.csv')

# Remove rows where 'Allotted_Institute' column has value '-'
df_filtered = df[df['Allotted_Institute'] != '-']

# Save the filtered data back to CSV
df_filtered.to_csv('filtered_file.csv', index=False)

print("Rows with '-' in 'Allotted_Institute' have been removed.")

Rows with '-' in 'Allotted_Institute' have been removed.

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/All India MBBS,BDS R-3.csv')

# Strip leading spaces in the "State" column
df['State'] = df['State'].str.lstrip()

# Save the updated dataframe to a new CSV file
df.to_csv('your_file_cleaned.csv', index=False)
df

print("Leading spaces removed from 'State' column.")
df

Leading spaces removed from 'State' column.

,Allotted_Quota,Allotted_Institute,Closing_air,State,Course,Alloted_Category,State.1
0,Aligarh Muslim Universit y (AMU)\nQuota,Dr. Ziauddin Ahmed Dental College and Hospital...,52010,Uttar Pradesh,BDS,Open,\nUttar Pradesh
1,Aligarh Muslim Universit y (AMU)\nQuota,"Jawaharlal Nehru Medical College, AMU,ALIGAR H...",14962,Uttar Pradesh,MBBS,Open,\nUttar Pradesh
2,All India,"ACSR Govt Medical College, Nellore,OPP. TO AC ...",24249,Andhra Pradesh,MBBS,EWS,\nAndhra Pradesh
3,All India,"ACSR Govt Medical College, Nellore,OPP. TO AC ...",20678,Andhra Pradesh,MBBS,OBC,\nAndhra Pradesh
4,All India,"ACSR Govt Medical College, Nellore,OPP. TO AC ...",6208,Andhra Pradesh,MBBS,Open,\nAndhra Pradesh
...,...,...,...,...,...,...,...
2273,Open Seat Quota,"JIPMER KARAIKAL,JIP MER\nAcademic Campus, FCI ...",78598\n6,Puducherry,MBBS,OBC\nPwD,\nPuducherry
2274,Open Seat Quota,"JIPMER KARAIKAL,JIP MER\nAcademic Campus, FCI ...",5668,Puducherry,MBBS,Open,\nPuducherry
2275,Open Seat Quota,"JIPMER KARAIKAL,JIP MER\nAcademic Campus, FCI ...",50319,Puducherry,MBBS,SC,\nPuducherry
2276,Open Seat Quota,"JIPMER KARAIKAL,JIP MER\nAcademic Campus, FCI ...",63527,Puducherry,MBBS,ST,\nPuducherry
2277,Open Seat Quota,"Jawaharlal Nehru Medical College, AMU,ALIGAR H...",3752,Uttar Pradesh,MBBS,Open,\nUttar Pradesh

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/cleaned_file.csv')

# Group by college, category, and gender to find max AIR
max_Rank_df = df.loc[df.groupby(['Allotted_Quota','Allotted_Institute','Course','Alloted_Category'])['Rank'].idxmax()]

# Rename columns to indicate max
max_air_df = max_Rank_df.rename(columns={'Rank':'Closing_air'})

# Select relevant columns for the final output
columns_to_keep = [
   'Allotted_Quota','Allotted_Institute','Closing_air','State','Course','Alloted_Category' ,'State'# Changed 'Rank' to 'Closing_air'
]

# Display the result
final_df = max_air_df[columns_to_keep]

# Convert to CSV
final_df.to_csv('All India MBBS,BDS R-3.csv', index=False)
print(final_df)

                               Allotted_Quota  \
3965  Aligarh Muslim Universit y (AMU)\nQuota
1246  Aligarh Muslim Universit y (AMU)\nQuota
3333                                All India
2439                                All India
189                                 All India
...                                       ...
6368                          Open Seat Quota
160                           Open Seat Quota
3940                          Open Seat Quota
4099                          Open Seat Quota
85                            Open Seat Quota

                                     Allotted_Institute Closing_air  \
3965  Dr. Ziauddin Ahmed Dental College and Hospital...       52010
1246  Jawaharlal Nehru Medical College, AMU,ALIGAR H...       14962
3333  ACSR Govt Medical College, Nellore,OPP. TO AC ...       24249
2439  ACSR Govt Medical College, Nellore,OPP. TO AC ...       20678
189   ACSR Govt Medical College, Nellore,OPP. TO AC ...        6208
...                                                 ...         ...
6368  JIPMER KARAIKAL,JIP MER\nAcademic Campus, FCI ...    78598\n6
160   JIPMER KARAIKAL,JIP MER\nAcademic Campus, FCI ...        5668
3940  JIPMER KARAIKAL,JIP MER\nAcademic Campus, FCI ...       50319
4099  JIPMER KARAIKAL,JIP MER\nAcademic Campus, FCI ...       63527
85    Jawaharlal Nehru Medical College, AMU,ALIGAR H...        3752

                 State Course Alloted_Category             State
3965   \nUttar Pradesh    BDS             Open   \nUttar Pradesh
1246   \nUttar Pradesh   MBBS             Open   \nUttar Pradesh
3333  \nAndhra Pradesh   MBBS              EWS  \nAndhra Pradesh
2439  \nAndhra Pradesh   MBBS              OBC  \nAndhra Pradesh
189   \nAndhra Pradesh   MBBS             Open  \nAndhra Pradesh
...                ...    ...              ...               ...
6368      \nPuducherry   MBBS         OBC\nPwD      \nPuducherry
160       \nPuducherry   MBBS             Open      \nPuducherry
3940      \nPuducherry   MBBS               SC      \nPuducherry
4099      \nPuducherry   MBBS               ST      \nPuducherry
85     \nUttar Pradesh   MBBS             Open   \nUttar Pradesh

[2278 rows x 7 columns]