In [ ]:
import pandas as pd

# Load the CSV data
df = pd.read_csv('/content/AACCC closing Rank Round-3.csv')

# Convert the Closing_AIR column to numeric if it's not already
df[''] = pd.to_numeric(df['Closing Rank'], errors='coerce')

# Sort the data by 'State', 'Alloted_Category', and 'Closing_AIR'
sorted_df = df.sort_values(by=['State', 'Alloted Category', 'Closing Rank'])

# Save the sorted data to a new CSV file
sorted_df.to_csv('AACCC R-3 Statewise.csv', index=False)

# Save the sorted data to a new CSV file
print(sorted_df)

print("Data has been sorted and saved successfully.")

    Alloted Category                                 Allotted Quota  \
30               EWS                    All India Quota Governm ent
5                EWS                    All India Quota Governm ent
18               EWS                    All India Quota Governm ent
125              OBC                    All India Quota Governm ent
72               OBC                    All India Quota Governm ent
..               ...                                            ...
232             Open                    All India Quota Governm ent
233             Open                    All India Quota Governm ent
372               SC                    All India Quota Governm ent
420               SC  Central Universit es / National Institutio ns
446               ST                    All India Quota Governm ent

                                    Allotted Institute           State  \
30   Sri Venkateswara Ayurvedic college, Tirupathi,...  Andhra Pradesh
5    Dr.Allu Ramaligaiah Govt.\nHomoeopathic Medica...  Andhra Pradesh
18   Govt.\nHomoeopathic Medical College, Kadappa, ...  Andhra Pradesh
125  Sri Venkateswara Ayurvedic college, Tirupathi,...  Andhra Pradesh
72   Dr.NR Sastry Govt.\nAyurvedic College, Vijayaw...  Andhra Pradesh
..                                                 ...             ...
232  Mahesh Bhattacharya Homoeopathic Medical Colle...     West Bengal
233  Midnapore Homoeopathic Medical College and Hos...     West Bengal
372  JB Roy State Ayurvedic Medical College and Hos...     West Bengal
420  National Institute of Homoeopathy, Salt Lake, ...     West Bengal
446  Midnapore Homoeopathic Medical College and Hos...     West Bengal

                                            Course  Closing Rank
30      Bachelor of Ayurvedic Medicine and Surgery         89609   89609
5    Bachelor of Homoeopathic Medicine and Surgery        190260  190260
18   Bachelor of Homoeopathic Medicine and Surgery        204980  204980
125     Bachelor of Ayurvedic Medicine and Surgery         85645   85645
72      Bachelor of Ayurvedic Medicine and Surgery         89944   89944
..                                             ...           ...     ...
232  Bachelor of Homoeopathic Medicine and Surgery        106634  106634
233  Bachelor of Homoeopathic Medicine and Surgery        123530  123530
372     Bachelor of Ayurvedic Medicine and Surgery        201531  201531
420  Bachelor of Homoeopathic Medicine and Surgery        260024  260024
446  Bachelor of Homoeopathic Medicine and Surgery        432542  432542

[476 rows x 7 columns]
Data has been sorted and saved successfully.

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/MBBS_BDS_SELECTION LIST-1.csv')

# Get the unique values in the 'quota' column
unique_quotas = df['quota'].unique()

# Get the number of unique values
num_unique_quotas = len(unique_quotas)

# Display the results
print("Unique values in 'quota' column:", unique_quotas)
print("Number of unique values:", num_unique_quotas)

Unique values in 'quota' column: ['OPEN (EMD) ' 'OPEN ' 'OPEN' 'OPEN (W) ' 'OPEN (W) (EMD) ' 'HOPEN (EMD) '
 'HOPEN ' 'HA HOPENW ' 'EMOBC (EMR) ' 'EWS ' 'VJA ' 'D1 DEF1 '
 'EMSEBC (EMR) ' 'NTD ' 'SEBC ' 'OBC ' 'NTCOPEN (W) ' 'HA HOBC '
 'EMOBCW (EMR) ' 'HA NTD ' 'SEBCOPEN (W) ' 'HA EMNTC (EMR) ' 'HOPENW '
 'OBCOPEN (W) ' 'EWSOPEN (W) ' 'HA OBCOPEN (W) ' 'HA HOPEN ' 'HA OBC '
 'EMSEBCW (EMR) ' 'HEM SEBC (EMR) ' 'SC ' 'DEF1 ' 'VJA OPEN (W) '
 'HA OPEN (EMD) ' 'HA VJA ' 'EMNTD (EMR) ' 'EMNTC (EMR) ' 'NTDOPEN (W) '
 'HA EWSOPEN (W) ' 'NTC ' 'EMNTB (EMR) ' 'DEF3 ' 'DEF2 ' 'HSEBC W '
 'D1 DEF1 W ' 'NTB ' 'SC OPEN (W) ' 'D2 DEF2 ' 'NTBOPEN (W) '
 'HA NTDOPEN (W) ' 'D2 DEF2 W ' 'HA HEWS W ' 'HSEBC ' 'EMSCW (EMR) '
 'HA HOBC W ' 'HA HNTC ' 'MKB ' 'MINO ' 'HA NTC ' 'DEF1 W ' 'HA HSC '
 'HA EWS ' 'ST ' 'DEF3 W ' 'DEF2 W ' 'HA HVJA ' ' OPEN '
 'ORP-C ORPHANC OrphanC ' 'HA HNTD ' 'HA SC ' 'HA NTCOPEN (W) '
 'ST OPEN (W) ' 'MKB W ' 'HA HEWS ' 'OPEN (W) MINO ' 'OPEN MINO '
 'D1 SC OPEN (W) ' 'HA OPEN ' 'EMNTCW (EMR) ' 'EMNTDW (EMR) '
 'HA EMOBC (EMR) ' 'HA EMOBCW (EMR) ' 'HA OPEN (W) ' 'HA OPEN (W) (EMD) '
 'HA HNTD W ' 'HA HNTC W ' 'HA HNTB ' 'D2 VJA ' 'HA OPEN MINO ' 'D1 SC '
 'D1HA DEF1 ' 'I.Q. ' 'EMSC (EMR) ' 'HA EMNTDW (EMR) ' 'PWD-OPEN PH '
 'HA HSCW ' ' OBC ' 'HA HNTB W ' 'D1HA DEF1 W ' ' I.Q. ' 'HA SC OPEN (W) '
 'D1 NTCOPEN (W) ' 'D1 OPEN (W) ' 'HA HST ' 'HA ST OPEN (W) '
 'D1 OPEN (EMD) ' 'HA NTB ' 'PWD PWD-OPEN PH ' 'HA ST '
 'PWD PWD-OPEN (EMD) ' 'D1 OPEN ' 'HA HVJAW ' 'D2 OPEN (W) (EMD) '
 'D2 OPEN (EMD) ' 'ORPHANC OrphanC ' 'HA NTBOPEN (W) '
 'ORPHANC-SE Orphan-C SEBC ' 'HA EMNTD (EMR) ' 'EMVJA (EMR) '
 'ORP-C ORPHANC-OB Orphan-C OBC ' nan 'D1HA OPEN (W) (EMD) ' 'HA HSTW '
 'D2 SC OPEN (W) ' 'I.Q. MINO ' 'D1 EMNTCW (EMR) '
 'PWD HA PWD-OPEN (EMD) ' 'D1 EMOBC (EMR) ' 'D1 EMOBCW (EMR) '
 'D1 OPEN (W) (EMD) ' 'ORP-C ORPHANC-EW Orphan-C EWS ' 'HA EMNTB (EMR) '
 'EMVJAW (EMR) ' 'PWD PWD-OBC PH ' 'PWD HA PWD-OBC PH '
 'ORP-C ORPHANC-SC Orphan-C SC ' 'HA I.Q. ' 'D1 EMNTD (EMR) '
 'PWD PWD-NTD PH ' 'D2 OPEN ' 'HA EMSC (EMR) ' 'D1 I.Q. '
 'PWD PEM OBC PH (EMR) ' 'HA EMVJA (EMR) ' 'PWD-SEBC PH '
 'PWD PWD-NTB PH ' 'EMNTBW (EMR) ' 'PWD PWD-EWS PH ' 'NRI I.Q. '
 'PWD PEM SC PH (EMR) ' 'PWD PWD-SC PH ' 'HA PWD-SEBC PH '
 'PWD PWD-ST PH ' 'ORP-A ORPHAN Orphan-A ' 'ORP-C ORPHANC-ST Orphan-C ST '
 'HAORP- ORPHANC OrphanC ' 'HA PWD-OPEN PH ' 'PWD PWD-NTC PH '
 'ORPHAN Orphan-A ' 'ORP-C ORPHANC-NT Orphan-C NT2 ' 'PWD PWD-VJA PH '
 'F I.Q. ' 'D1PWD PWD-SC PH ' 'D1PWD PWD-ST PH '
 'HAORP- ORPHANC-OB Orphan-C OBC ' 'PWD HA PWD-ST PH ']
Number of unique values: 166

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/MBBS_BDS_SELECTION LIST-1.csv')

# Define categories to search for in 'quota' column
categories = ['OBC', 'OPEN', 'EWS', 'SC', 'ST', 'VJA']

# Create an empty dictionary to store the results for each category
result_dict = {category: [] for category in categories}
result_dict['Others'] = []  # To store values not in the specified categories

# Loop through each unique value in the 'quota' column
for quota_value in df['quota'].unique():
    # Check if the quota_value contains any of the categories
    found = False
    for category in categories:
        if pd.notna(quota_value) and category in quota_value:
            result_dict[category].append(quota_value)
            found = True
            break
    # If the value doesn't match any category, add it to 'Others'
    if not found and pd.notna(quota_value):
        result_dict['Others'].append(quota_value)

# Create a DataFrame with unique values as columns
result_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in result_dict.items()]))

# Display the result
print(result_df)
# Save the sorted data to a new CSV file
result_df.to_csv('sorted_output3.csv', index=False)

              OBC             OPEN                             EWS  \
0    EMOBC (EMR)       OPEN (EMD)                             EWS
1            OBC             OPEN                       HA HEWS W
2        HA HOBC              OPEN                         HA EWS
3   EMOBCW (EMR)         OPEN (W)                         HA HEWS
4    OBCOPEN (W)   OPEN (W) (EMD)   ORP-C ORPHANC-EW Orphan-C EWS
..            ...              ...                             ...
59            NaN              NaN                             NaN
60            NaN              NaN                             NaN
61            NaN              NaN                             NaN
62            NaN              NaN                             NaN
63            NaN              NaN                             NaN

              SC              ST        VJA                          Others
0            SC              ST        VJA                         D1 DEF1
1   EMSCW (EMR)          HA HST     HA VJA                    EMSEBC (EMR)
2        HA HSC           HA ST    HA HVJA                             NTD
3         HA SC         HA HSTW     D2 VJA                            SEBC
4         D1 SC   PWD PWD-ST PH   HA HVJAW                          HA NTD
..           ...             ...        ...                             ...
59           NaN             NaN        NaN         HAORP- ORPHANC OrphanC
60           NaN             NaN        NaN                 PWD PWD-NTC PH
61           NaN             NaN        NaN                ORPHAN Orphan-A
62           NaN             NaN        NaN  ORP-C ORPHANC-NT Orphan-C NT2
63           NaN             NaN        NaN                         F I.Q.

[64 rows x 7 columns]